.container{
        box-sizing:border-box;
        display:flex;
        flex-wrap:wrap;
        background-color:cadetblue;
        justify-content:center;
        align-items:center;
        padding:20px 0px;
}
.card{
    width:300px;
    margin:10px;
    box-sizing:border-box;
    box-shadow:2px 6px 12px black;
}
.card:hover{
    box-shadow:2px 8px 32px rgb(150, 145, 145);
}
.image-style{
    width:100%;
}
.card-body{
    padding:10px;
    background-color:fuchsia;
}
.card-title{
    text-align:center;
    font-size:2rem;
    color:white;
    
}
.card-desc{
   text-align:justify;
   line-height:1.5em;
   color:white;
        
    
}